:root{
    --pink:#e84393;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html{
    font-size: 15px;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem;
    z-index: 1;
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--pink);
}
header .navbar a{
    /* display: flex; */
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;
}
header .navbar a:hover{
    color:var(--pink);
}
header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-right: 1rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    margin-left: 2rem;
    display: inline;
    font-size: 1rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0,0,0.3);
}

.main-btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font: 1.7rem;
    opacity: 1;
    text-decoration: none;
}

.main-btn:hover{
    background: var(--pink);
    transition: 0.3s linear;
    color: #fff;

}


section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("12.jpg");
    background-size: cover;
    background-position: cover;
}
.home .content{
    max-width: 50rem;
    background-color: black;
    opacity: 0.7;
    padding: 20px;
}

.home .content h3{
    font-size: 5rem;
    color: white;
    opacity: 1;
}
.home .content span{
    font-size: 3rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
    opacity: 1;
}
.home .content p{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.5;
}

/* About Section */
.heading{
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,0.05);
}
.heading-span{
    color: var(--pink);
}

.about .main-row{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding: 3rem;
}

.about .main-row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .main-row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0.1);
    height: 100%;
    object-fit: cover;
    
}

.about .main-row .video-container h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: white;
    color: #333;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
.about .main-row .content{
    flex: 1 1 40rem;
}

.about .min-row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .min-row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;

}

/* Icons Section */
.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,0.1) ;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1 1 25;
}
.icons-container .icons i{
    font-size: 3rem;
    height: 5rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}
.icons-container .icons h3{
    color: #333;
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

/* Products Section */
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    border: .1rem solid rgba(0,0,0,0.1);
    position: relative;
}
.products .box-container .box .discount{
    position: absolute;
    top: 1rem;left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255,51,153,0.05);
    /* z-index: 1; */
    border-radius: 0.5rem;
    /* opacity: 0.7; */
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    max-width: 100%;
    max-height: 100%;
    height: 200px;
    width: 200px;
}
.products .box-container .box:hover .image img{
    transform: scale(1.1);
}
.products .box-container .box .image form{
    position: absolute;
    bottom: -10rem; left: 0; right: 0;
    display: block;
}
.products .box-container .box:hover .image form{
    bottom: 0;
    transition: 0.4s ease;
}
.products .box-container .box .image form input{
    height: 4rem;
    line-height: 2rem;
    font-size: 2rem;
    width: 50%;
    background-color: var(--pink);
    color: #fff;
}
.products .box-container .box .image form .cart-btn{
    border-left: 0.1rem solid #fff7;
    border-right: 0.1rem solid #fff7;
    width: 100%;
}
.products .box-container.box.content{
    padding: 2rem;
    text-align: center;
}
.products .box-container.box .content h3{
    font-size: 2rem;
    color: #333;
}
.products .box-container .box .content .price{
    font-size: 2rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through !important;
}

/* Contact Us */
.contact .main-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contact .contact-info{
    margin: 10px auto;
}
.contact .contact-info h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem;
}
.contact .contact-info p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
}
.contact .contact-info span{
    color: var(--pink);
}
/* Reviews */
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0,0,0,0.1);
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 5rem;
    color: #eee;
}
.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box-container .box .stars i{
    color: gold;
    font-size: 2rem;
}
.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}

/* Footer */



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding-top: 20px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
    font-weight: bolder;
}
.footer .box-container .box a, .footer .box-container .box p{
    color: #666;
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
} */

/* Cart */
.cart{
    margin-top: 5rem !important;
}
.cart table{
    width: 100%;
    border-collapse:collapse;
    font-size: 1.5rem;
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background: var(--pink);
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 10rem;
    height: 10rem;
    margin-right: 10px;
}
.cart td input{
    width: 5rem;
    height: 30px;
    padding: 5px;
}
.cart .edit-btn{
    color: var(--pink);
    text-decoration: none;
    font-size: 1rem;
    background: white;
    border: none;
}
.cart .remove-btn{
    color: var(--pink);
    text-decoration: none;
    font-size: 1rem;
    background: #fff;
    border: none;
    width: 100%;
}
.cart .product-info{
    margin-top: 5px;
}
.cart .product-info p{
    margin: 3px;
    font-size: 1.5rem;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid var(--pink);
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    background: var(--pink);
    color: #fff;
    font-size: 1.5rem;
}
.checkout-btn:hover{
    color: #fff;
    background: teal;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

/* Checkout */
.checkout{
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
    font-size: 1.5rem;
}
.checkout h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 2rem auto;
    font-size: 1.5rem;
}
#checkout-from .checkout-small-element input{
    font-size: 1.5rem;
}
#checkout-form .checkout-large-element{
    width: 90%;
    font-size: 1.5rem;
    margin: 2rem;
}
#checkout-form .checkout-large-element input{
    font-size: 1.5rem;
}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
    font-size: 1.5rem;
}
#checkout-form #checkout-btn{
    color: #fff;
    background: var(--pink);
    font-size: 1.5rem;
}
#checkout-form #checkout-btn:hover{
    color: #fff;
    background: #fd9ccb;
}





/* Media query */
@media(max-width: 768px){

    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0; right: 0;
        background: #eee;
        border-top: 0.1rem solid rgba(0,0,0.1);
        display: none;
    }

    header #toggler:checked  ~ .navbar{
        display: block;
    }  
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0,0,0.1);
        display: block;
        width: 100%;
    }
    header .navbar a:hover{
        background: var(--pink);
        color: #fff;
        transition: 1s ease;
    }

    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 2.5rem;
    }
}